<a href="https://colab.research.google.com/github/water-beetle/Python_flearning/blob/master/%239_Game_of_Thrones_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%85%8B_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
import matplotlib
import matplotlib as plt
import numpy as np
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
battles = pd.read_csv("./gdrive/My Drive/Colab_Notebooks/Python_flearning/Dataset/battles.csv", sep = ",")
deaths = pd.read_csv("./gdrive/My Drive/Colab_Notebooks/Python_flearning/Dataset/character-deaths.csv", sep = ",")

In [9]:
battles.head()

                            name  year  ...           region note
0     Battle of the Golden Tooth   298  ...  The Westerlands  NaN
1    Battle at the Mummer's Ford   298  ...   The Riverlands  NaN
2             Battle of Riverrun   298  ...   The Riverlands  NaN
3       Battle of the Green Fork   298  ...   The Riverlands  NaN
4  Battle of the Whispering Wood   298  ...   The Riverlands  NaN

[5 rows x 25 columns]

In [11]:
deaths.head()

                      Name      Allegiances  Death Year  ...  SoS  FfC  DwD
0           Addam Marbrand        Lannister         NaN  ...    1    1    0
1  Aegon Frey (Jinglebell)             None       299.0  ...    1    0    0
2          Aegon Targaryen  House Targaryen         NaN  ...    0    0    1
3            Adrack Humble    House Greyjoy       300.0  ...    0    0    1
4           Aemon Costayne        Lannister         NaN  ...    1    0    0

[5 rows x 13 columns]

##작품번호에 따른 인물들의 죽은 횟수